/* line 4, ../sass/magic.scss */
.body .widget h2 {
  text-align: center;
}

/* line 9, ../sass/magic.scss */
.header {
  background-color: #27437B;
}

/* line 14, ../sass/magic.scss */
.has-sidebar aside {
  width: 250px;
}
/* line 17, ../sass/magic.scss */
.has-sidebar .content {
  padding-right: 300px;
}
