@import "base";

.body .widget {
    h2 {
        text-align: center;
    }
}

.header {
    background-color: $header-background;
}

.has-sidebar{
	aside{
		width: 250px;
	}
	.content{
		padding-right: 300px;
	}
}
